[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/.vim/plugged/fzf.vim"]
	path = vim/.vim/plugged/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim/.vim/plugged/fzf"]
	path = vim/.vim/plugged/fzf
	url = https://github.com/junegunn/fzf
[submodule "vim/.vim/plugged/rainbow_csv"]
	path = vim/.vim/plugged/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv
[submodule "vim/.vim/plugged/vim-matchup"]
	path = vim/.vim/plugged/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "vim/.vim/plugged/ale"]
	path = vim/.vim/plugged/ale
	url = https://github.com/w0rp/ale.git
[submodule "vim/.vim/plugged/colorizer"]
	path = vim/.vim/plugged/colorizer
	url = https://github.com/chrisbra/colorizer.git
[submodule "vim/.vim/plugged/ansible-vim"]
	path = vim/.vim/plugged/ansible-vim
	url = https://github.com/pearofducks/ansible-vim.git
[submodule "vim/.vim/plugged/auto-pairs"]
	path = vim/.vim/plugged/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "vim/.vim/plugged/ayu-vim"]
	path = vim/.vim/plugged/ayu-vim
	url = https://github.com/ayu-theme/ayu-vim.git
[submodule "vim/.vim/plugged/coc.nvim"]
	path = vim/.vim/plugged/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "vim/.vim/plugged/gruvbox"]
	path = vim/.vim/plugged/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/plugged/indentline"]
	path = vim/.vim/plugged/indentline
	url = https://github.com/yggdroot/indentline.git
[submodule "vim/.vim/plugged/lightline-ale"]
	path = vim/.vim/plugged/lightline-ale
	url = https://github.com/maximbaz/lightline-ale.git
[submodule "vim/.vim/plugged/lightline-gruvbox.vim"]
	path = vim/.vim/plugged/lightline-gruvbox.vim
	url = https://github.com/shinchu/lightline-gruvbox.vim.git
[submodule "vim/.vim/plugged/lightline.vim"]
	path = vim/.vim/plugged/lightline.vim
	url = https://github.com/itchyny/lightline.vim.git
[submodule "vim/.vim/plugged/nerdtree"]
	path = vim/.vim/plugged/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/.vim/plugged/nerdtree-git-plugin"]
	path = vim/.vim/plugged/nerdtree-git-plugin
	url = https://github.com/xuyuanp/nerdtree-git-plugin.git
[submodule "vim/.vim/plugged/onehalf"]
	path = vim/.vim/plugged/onehalf
	url = https://github.com/sonph/onehalf.git
[submodule "vim/.vim/plugged/rainbow"]
	path = vim/.vim/plugged/rainbow
	url = https://github.com/luochen1990/rainbow.git
[submodule "vim/.vim/plugged/rust.vim"]
	path = vim/.vim/plugged/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule "vim/.vim/plugged/vim-commentary"]
	path = vim/.vim/plugged/vim-commentary
	url = https://github.com/joom/vim-commentary.git
[submodule "vim/.vim/plugged/vim-eunuch"]
	path = vim/.vim/plugged/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "vim/.vim/plugged/vim-highlightedyank"]
	path = vim/.vim/plugged/vim-highlightedyank
	url = https://github.com/machakann/vim-highlightedyank.git
[submodule "vim/.vim/plugged/vim-jinja2-syntax"]
	path = vim/.vim/plugged/vim-jinja2-syntax
	url = https://github.com/glench/vim-jinja2-syntax.git
[submodule "vim/.vim/plugged/vim-json"]
	path = vim/.vim/plugged/vim-json
	url = https://github.com/elzr/vim-json.git
[submodule "vim/.vim/plugged/vim-lsp-cxx-highlight"]
	path = vim/.vim/plugged/vim-lsp-cxx-highlight
	url = https://github.com/jackguo380/vim-lsp-cxx-highlight.git
[submodule "vim/.vim/plugged/vim-markdown"]
	path = vim/.vim/plugged/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/.vim/plugged/vim-multiple-cursors"]
	path = vim/.vim/plugged/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/.vim/plugged/vim-one"]
	path = vim/.vim/plugged/vim-one
	url = https://github.com/rakr/vim-one.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "vim/.vim/plugged/vimtex"]
	path = vim/.vim/plugged/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "config/alacritty/theme"]
	path = config/alacritty/theme
	url = https://github.com/alacritty/alacritty-theme
[submodule "vim/.vim/plugged/catppuccin"]
	path = vim/.vim/plugged/catppuccin
	url = https://github.com/catppuccin/vim.git
