[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "config/alacritty/theme"]
	path = config/alacritty/theme
	url = https://github.com/alacritty/alacritty-theme
